.footer {
    width: 100%;
    background-color: teal;
}

.footer-content {
    background-color: rgba(0, 128, 128, 0.432);
}

.linkedin {
    background-image: url('../assets/LinkedIn.6abf067f.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 10vw;
    margin: 20px;
}

.github {
    background-image: url('../assets/GitHub2.94e91ab4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    width: 10vw;
    margin: 20px;
}

.footer-bottom {
    background-image: url('../assets/FooterBottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: -300px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}